# TODO better name for secret being used
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scdf-server
spec:
  template:
    spec:
      containers:
        - name: scdf-server
          volumeMounts:
            - name: database
              mountPath: /etc/secrets/database
              readOnly: true  
      volumes:
        - name: database
          secret:
            secretName: databaseSecret
